.wp-block-details.ccontain {
  max-width: calc(100% - 24px);
}

.wp-block-details,
.summary-select {
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
}

.summary-select a {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.wp-block-details summary,
.summary-select__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.wp-block-details summary + *,
.summary-select__contents {
  margin-top: 0.5rem;
  border-top: 1px solid var(--grey-one);
  padding-top: 0.5rem;
  list-style: none;
}

.wp-block-details summary::after {
  content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M233.4%20406.6c12.5%2012.5%2032.8%2012.5%2045.3%200l192-192c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L256%20338.7%2086.6%20169.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l192%20192z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  display: inline-block;
  width: 1rem;
  transform: scaleY(1.0);
  transition: transform 0.2s;
}

.wp-block-details[open] summary::after {
  transform: scaleY(-1.0);
}

.summary-select__icon {
  max-width: 1rem;
  transform: scaleY(1.0);
  transition: transform 0.2s;
}

.summary-select[open] .summary-select__icon {
  transform: scaleY(-1.0);
}

.summary-select__item + .summary-select__item {
  margin-top: 0.25rem;
}